<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<properties resource="conf/application.test.properties"/>
	<settings >
		<setting name="cacheEnabled" value="false"/>
	</settings> 
	
	<typeHandlers>
		<typeHandler handler="com.winit.vms.base.db.mybatis.support.BooleanTypeHandler" javaType="Boolean"/>
	</typeHandlers>
	
	<plugins>
		<plugin interceptor="com.winit.vms.base.db.mybatis.OffsetLimitInterceptor">
			<property name="dbType" value="${jdbc.dbType}"/>
			<property name="Dialect.oracle" value="com.winit.vms.base.db.mybatis.dialect.OracleDialect"/>
			<property name="Dialect.mssql" value="com.winit.vms.base.db.mybatis.dialect.SQLServer2005Dialect"/>
			<property name="Dialect.mysql" value="com.winit.vms.base.db.mybatis.dialect.MySQLDialect"/>
			<property name="Dialect.db2" value="com.winit.vms.base.db.mybatis.dialect.DB2Dialect"/>
			<property name="Dialect.h2" value="com.winit.vms.base.db.mybatis.dialect.H2Dialect"/>
			
		</plugin>
	</plugins>
</configuration>